# Environments
venv/
env/
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo

# Mac OS
.DS_Store

# Databases
*.db
*.sqlite3
# User uploads
frontend_tma/uploads/*
!frontend_tma/uploads/.gitkeep

# Local model weights
models/
